html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    width: 600px;
    height: 600px;
  }
  
  .responsive-div {    
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  .canvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
    .d3-content {
      display: inline-block;
      position: absolute;
      top: 15%;
      left: 0;
      width: 90%;
    }  
      rect:hover {
        fill: whitesmoke;
      }

  .legend{
    display: inline-block;
    position: absolute;
    top: 12.5%;
    right: 0;
    width: 10%;
  }
  
  .tooltip {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5%;
    font-size: 1.8rem;
    border-radius: 5%;  
  }
  
  .tooltip.visible {display: flex}
  
  .title {
    text-align: center;
    font-size: 2.5rem;
  }

  .description {
    text-align: center;
    font-size: 1.5rem;
  }
  
  p {margin: 0}

  @media (max-width: 1024px) {
    .iframe-container {
        width: 560px;
        height: 560px;
    }
  
    html {
        font-size: 7px;
    }
  }
    
  @media (max-width: 768px) {
    .iframe-container {
        width: 420px;
        height: 420px;
    }
  }
  
  @media (max-width: 576px) {
    .iframe-container {
        width: 350px;
        height: 350px;
    }
  
    html {
        font-size: 6px;
    }
  }
  
  @media (max-width: 425px) {
    .iframe-container {
        width: 240px;
        height: 240px;
    }
  
    html {
        font-size: 4px;
    }
  }