html {
    font-size: 8px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    width: 100vw;
    height: 100vh;
    max-width: 475px;
    max-height: 475px;
}

.responsive-div {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.canvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.d3-content {
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 0;
    width: 90%;
}

rect:hover {
    fill: whitesmoke;
}

.legend {
    display: inline-block;
    position: absolute;
    top: 12.5%;
    right: 0;
    width: 10%;
}

.tooltip {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5%;
    font-size: 1.8rem;
    border-radius: 5%;
}

.tooltip.visible {
    display: flex
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

.description {
    text-align: center;
    font-size: 1.5rem;
}

p {
    margin: 0
}

@media (max-width: 640px) {
    html {
        font-size: 5px;
    }
}